.svn*
*~
*.o
*.cpp.o
.kdev4
*.cbp
*.bkp.cpp
*.bkp.h
cvs
libldsc.a
CMakeFiles
libldsc
Makefile
cmake_install.cmake
docs
autom4te.cache
pullToGithub
pushToGithub
CMakeLists.txt.user
abertura_dilatacao
CMakeCache.txt
