.svn*
*~
*.o
*.cpp.o
.kdev4
*.cbp
*.bkp.cpp
*.bkp.h
*.pbm
*.dbm
*.pgm
*.dgm
cvs
libldsc.a
CMakeFiles
libldsc
Makefile
cmake_install.cmake
docs
autom4te.cache
pullToGithub
pushToGithub
CMakeLists.txt.user
abertura_dilatacao
abertura_dilatacao3D
abertura_dilatacao_old
criaSintetica3D
CMakeCache.txt
resumo.cpp
ImagensSinteticas
